

.body-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-logo
{
    width: 100px;
    padding-top: 50px;
}

.content-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/*Desktop or tablet */
@media screen and (min-width: 700px) 
{

    .background
    {
        background-image: url("../images/coming_soon_bgimage.svg");
        background-position: center; 
        background-repeat: no-repeat;
        background-size: cover; 
        background-color: black;   
    }

    .coming-soon-text
    {
        font-size: 100px;
        letter-spacing: 20px;
        font-weight: 30;
        color: white;
        font-family:sans-serif;
    }

    .instagram-logo
    {
        margin-top: -50px;
        width:40px;
    }

    .promises-text
    {
        padding-top: 100px;
        font-size: 20px;
        letter-spacing: 8px;
        font-weight: 30;
        color: white;
        font-family:sans-serif;
        max-width: 800px;
        width: 100%;

    }

}

/*mobile */
@media screen and (max-width: 700px) 
{

    .background
    {
        background-image: url("../images/coming_soon_bgimage_mobile.svg");
        background-position: center; 
        background-repeat: no-repeat;
        background-size: cover; 
        background-color: black;   
    }
    .header-logo
    {
        width: 60px;
        padding-top: 50px;
    }
    .coming-soon-text
    {
        font-size: 50px;
        letter-spacing: 10px;
        font-weight: 30;
        color: white;
        font-family:sans-serif;
        text-align:center;

    }

    .instagram-logo
    {
        width:30px;
    }

    .promises-text
    {
        padding-top: 100px;
        font-size: 16px;
        letter-spacing: 8px;
        font-weight: 30;
        color: white;
        font-family:sans-serif;
        max-width: 400px;
        width: 100%;
        padding-left: 30px;

    }

}
